# **Colombia's Financial Inclusion Dataset Translation**

https://www.datos.gov.co/Econom-a-y-Finanzas/Inclusi-n-Financiera/kx2f-xjdq/about_data

# Summary

Here is some basic EDA and translation from Spanish to English for the Colombia Financial Inclusion dataset. I've also filled missing values and converted the scientific notation columns to numerical values.

# Import Relevant Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# EDA

In [4]:
df = pd.read_csv('Inclusi_n_Financiera_20250318.csv')

In [5]:
df.head()

,TIPO_ENTIDAD,CODIGO_ENTIDAD,NOMBRE_ENTIDAD,FECHA_CORTE,UNICAP,DESCRIP_UC,RENGLON,DESC_RENGLON,TIPO,(1) NRO_CORRESPONSALES_FÍSICOS_PROPIOS,...,(89) NRO_GIROS_RECIBIDOS_CORRESPONSALES_MÓVILES,(90) MONTO_GIROS_RECIBIDOS_CORRESPONSALES_MÓVILES,(91) NRO_PAGOS_CORRESPONSALES_MÓVILES,(92) MONTO_PAGOS_CORRESPONSALES_MÓVILES,(93) NRO_RETIROS_CORRESPONSALES_MÓVILES,(94) MONTO_RETIROS_CORRESPONSALES_MÓVILES,(95) NRO_TRANSFERENCIAS_CORRESPONSALES_MÓVILES,(96) MONTO_TRANSFERENCIAS_CORRESPONSALES_MÓVILES,(97) NRO_TRANSACCIONES_TRÁMITES_CORRESPONSALES_MÓVILES,(98) MONTO_TRANSACCIONES_CORRESPONSALES_MÓVILES
0,1,7,Bancolombia,31/03/2021,1,ANTIOQUIA,360,ITAGUI,Transacciones y tramites a traves de correspon...,0,...,0,0,0,0.0,0,0.0,0,0,0,0.0
1,1,39,Banco Davivienda,31/03/2021,1,ANTIOQUIA,91,BETANIA,Corresponsales fisicos,0,...,0,0,0,0.0,0,0.0,0,0,0,0.0
2,1,30,Banco Caja Social S.A.,31/03/2021,1,ANTIOQUIA,1,MEDELLIN,Microcredito por rango,0,...,0,0,0,0.0,0,0.0,0,0,0,0.0
3,1,42,Scotiabank Colpatria S.A.,31/03/2021,1,ANTIOQUIA,154,CAUCASIA,Corresponsales fisicos,0,...,0,0,0,0.0,0,0.0,0,0,0,0.0
4,1,43,Banagrario,31/03/2021,1,ANTIOQUIA,649,SAN CARLOS,Credito de consumo,0,...,0,0,0,0.0,0,0.0,0,0,0,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1391139 entries, 0 to 1391138
Data columns (total 99 columns):
 #   Column                                                  Non-Null Count    Dtype
---  ------                                                  --------------    -----
 0   TIPO_ENTIDAD                                            1391139 non-null  int64
 1   CODIGO_ENTIDAD                                          1391139 non-null  int64
 2   NOMBRE_ENTIDAD                                          1357745 non-null  object
 3   FECHA_CORTE                                             1391139 non-null  object
 4   UNICAP                                                  1391139 non-null  int64
 5   DESCRIP_UC                                              1391139 non-null  object
 6   RENGLON                                                 1391139 non-null  int64
 7   DESC_RENGLON                                            1391139 non-null  object
 8   TIPO                                                    1391139 non-null  object
 9   (1) NRO_CORRESPONSALES_FÍSICOS_PROPIOS                  1391139 non-null  int64
 10  (2) NRO_CORRESPONSALES_FÍSICOS_TERCERIZADOS             1391139 non-null  int64
 11  (3) NRO_CORRESPONSALES_FÍSICOS_ACTIVOS                  1391139 non-null  int64
 12  (4) NRO_CORRESPONSALES_FÍSICOS                          1391139 non-null  int64
 13  (5) NRO_DEPÓSITOS_CORRESPONSALES_FÍSICOS                1391139 non-null  int64
 14  (6) MONTO_DEPÓSITOS_CORRESPONSALES_FÍSICOS              1391139 non-null  float64
 15  (7) NRO_GIROS_ENVIADOS_CORRESPONSALES_FÍSICOS           1391139 non-null  int64
 16  (8) MONTO_GIROS_ENVIADOS_CORRESPONSALES_FÍSICOS         1391139 non-null  float64
 17  (9) NRO_GIROS_RECIBIDOS_CORRESPONSALES_FÍSICOS          1391139 non-null  int64
 18  (10) MONTO_GIROS_RECIBIDOS_CORRESPONSALES_FÍSICOS       1391139 non-null  float64
 19  (11) NRO_PAGOS_CORRESPONSALES_FÍSICOS                   1391139 non-null  int64
 20  (12) MONTO_PAGOS_CORRESPONSALES_FÍSICOS                 1391139 non-null  float64
 21  (13) NRO_RETIROS_CORRESPONSALES_FÍSICOS                 1391139 non-null  int64
 22  (14) MONTO_RETIROS_CORRESPONSALES_FÍSICOS               1391139 non-null  float64
 23  (15) NRO_TRANSFERENCIAS_CORRESPONSALES_FÍSICOS          1391139 non-null  int64
 24  (16) MONTO_TRANSFERENCIAS_CORRESPONSALES_FÍSICOS        1391139 non-null  float64
 25  (17) NRO_TRANSACCIONES_TRÁMITES_CORRESPONSALES_FÍSICOS  1391139 non-null  int64
 26  (18) MONTO_TRANSACCIONES_CORRESPONSALES_FÍSICOS         1391139 non-null  float64
 27  (19) NRO_CTAS_AHORRO_HASTA_1SMMLV                       1391139 non-null  int64
 28  (20) SALDO_CTAS_AHORRO_HASTA_1SMMLV                     1391139 non-null  float64
 29  (21) NRO_CTAS_AHORRO>1SMMLV_HASTA _3SMMLV               1391139 non-null  int64
 30  (22) SALDO_CTAS_AHORRO>1SMMLV_HASTA _3SMMLV             1391139 non-null  float64
 31  (23) NRO_CTAS_AHORR>3SMMLV_HASTA_ 5SMMLV                1391139 non-null  int64
 32  (24) SALDO_CTAS_AHORR>3SMMLV_HASTA_ 5SMMLV              1391139 non-null  float64
 33  (25) NRO_CTAS_AHORRO_ACTIVAS                            1391139 non-null  int64
 34  (26) SALDO_CTAS_AHORRO_ACTIVAS                          1391139 non-null  float64
 35  (27) NRO_CTAS_AHORRO_MUJERES                            1391139 non-null  int64
 36  (28) SALDO_CTAS_AHORRO_MUJERES                          1391139 non-null  float64
 37  (29) NRO_CTAS_AHORRO_HOMBRES                            1391139 non-null  int64
 38  (30) SALDO_CTAS_AHORRO_HOMBRES                          1391139 non-null  float64
 39  (31) NRO_CTAS_AHORRO                                    1391139 non-null  int64
 40  (32) SALDO_CTAS_AHORRO                                  1391139 non-null  float64
 41  (41) NRO_CRÉDITO_CONSUMO_MUJERES                        1391139 non-null  int64
 42  (42) MONTO_CRÉDITO_CONSUMO_MUJERES                      1391139 non-null  float64
 43  (43) NRO_CRÉDITO_CONSUMO_HOMBRES                        1391139 non-null  int64
 44  (44) MONTO_CRÉDITO_CONSUMO_HOMBRES                      1391139 non-null  float64
 45  (45) NRO_CRÉDITO_CONSUMO                                1391139 non-null  int64
 46  (46) MONTO_CRÉDITO_CONSUMO                              1391139 non-null  float64
 47  (47) NRO_CRED_CONS_BAJO_MONTO_MUJERES                   1391139 non-null  int64
 48  (48) MONTO_CRED_CONS_BAJO_MONTO_MUJERES                 1391139 non-null  int64
 49  (49) NRO_CRED_CONS_BAJO_MONTO_HOMBRES                   1391139 non-null  int64
 50  (50) MONTO_CRED_CONS_BAJO_MONTO_HOMBRES                 1391139 non-null  float64
 51  (51) NRO_CRED_CONS_BAJO_MONTO                           1391139 non-null  int64
 52  (52) MONTO_CRED_CONS_BAJO_MONTO                         1391139 non-null  float64
 53  (53) NRO_CRÉDITO_VIVIENDA_MUJERES                       1391139 non-null  int64
 54  (54) MONTO_CRÉDITO_VIVIENDA_MUJERES                     1391139 non-null  float64
 55  (55) NRO_CRÉDITO_VIVIENDA_HOMBRES                       1391139 non-null  int64
 56  (56) MONTO_CRÉDITO_VIVIENDA_HOMBRES                     1391139 non-null  float64
 57  (57) NRO_CRÉDITO_VIVIENDA                               1391139 non-null  int64
 58  (58) MONTO_CRÉDITO_VIVIENDA                             1391139 non-null  float64
 59  (59) NRO_MICROCRÉDITO_HASTA_ 1SMMLV                     1391139 non-null  int64
 60  (60) MONTO_MICROCRÉDITO_HASTA_1SMMLV                    1391139 non-null  float64
 61  (61) NRO_MICROCRÉDITO_>1SMMLV_HASTA_ 2SMMLV             1391139 non-null  int64
 62  (62) MONTO_MICROCRÉDITO_>1SMMLV HASTA_ 2SMMLV           1391139 non-null  float64
 63  (63) NRO_MICROCRÉDITO_>2SMMLV_HASTA_3SMMLV              1391139 non-null  int64
 64  (64) MONTO_MICROCRÉDITO_> 2SMMLV_HASTA_3SMMLV           1391139 non-null  float64
 65  (65) NRO_MICROCRÉDITO_>3SMMLV_HASTA_ 4SMMLV             1391139 non-null  int64
 66  (66) MONTO_MICROCRÉDITO_>3SMMLV_HASTA_4SMMLV            1391139 non-null  float64
 67  (67) NRO_MICROCRÉDITO_>4SMMLV_HASTA_10SMMLV             1391139 non-null  int64
 68  (68) MONTO_MICROCRÉDITO_> 4SMMLV_HASTA_10SMMLV          1391139 non-null  float64
 69  (69) NRO_MICROCRÉDITO_>10SMMLV_HASTA_25SMMLV            1391139 non-null  int64
 70  (70) MONTO_MICROCRÉDITO_>10SMMLV_HASTA_ 25SMMLV         1391139 non-null  float64
 71  (71) NRO_MICROCRÉDITO_MUJERES                           1391139 non-null  int64
 72  (72) MONTO_MICROCRÉDITO_MUJERES                         1391139 non-null  float64
 73  (73) NRO_MICROCRÉDITO_HOMBRES                           1391139 non-null  int64
 74  (74) MONTO_MICROCRÉDITO_HOMBRES                         1391139 non-null  float64
 75  (75) NRO_MICROCRÉDITO                                   1391139 non-null  int64
 76  (76) MONTO_MICROCRÉDITO                                 1391139 non-null  float64
 77  (77) NRO_PRODUCTOS_A_NIVEL_NACIONAL                     1391139 non-null  int64
 78  (78) MONTO_SALDO_PRODUCTOS_A_NIVEL_NACIONAL             1391139 non-null  float64
 79  (79) NRO_CORRESPONSALES_FÍSICOS_PROPIOS_ACTIVOS         1391139 non-null  int64
 80  (80) NRO_CORRESPONSALES_FÍSICOS_TERCERIZADOS_ACTIVOS    1391139 non-null  int64
 81  (81) NRO_CORRESPONSALES_PROPIOS_MÓVILES                 1391139 non-null  int64
 82  (82) NRO_CORRESPONSALES_TERCERIZADOS_MÓVILES            1391139 non-null  int64
 83  (83) NRO_CORRESPONSALES_MÓVILES_ACTIVOS                 1391139 non-null  int64
 84  (84) NRO_CORRESPONSALES_MÓVILES                         1391139 non-null  int64
 85  (85) NRO_DEPÓSITOS_CORRESPONSALES_MÓVILES               1391139 non-null  int64
 86  (86) MONTO_DEPÓSITOS_CORRESPONSALES_MÓVILES             1391139 non-null  float64
 87  (87) NRO_GIROS_ENVIADOS_CORRESPONSALES_MÓVILES          1391139 non-null  int64
 88  (88) MONTO_GIROS_ENVIADOS_CORRESPONSALES_MÓVILES        1391139 non-null  int64
 89  (89) NRO_GIROS_RECIBIDOS_CORRESPONSALES_MÓVILES         1391139 non-null  int64
 90  (90) MONTO_GIROS_RECIBIDOS_CORRESPONSALES_MÓVILES       1391139 non-null  int64
 91  (91) NRO_PAGOS_CORRESPONSALES_MÓVILES                   1391139 non-null  int64
 92  (92) MONTO_PAGOS_CORRESPONSALES_MÓVILES                 1391139 non-null  float64
 93  (93) NRO_RETIROS_CORRESPONSALES_MÓVILES                 1391139 non-null  int64
 94  (94) MONTO_RETIROS_CORRESPONSALES_MÓVILES               1391139 non-null  float64
 95  (95) NRO_TRANSFERENCIAS_CORRESPONSALES_MÓVILES          1391139 non-null  int64
 96  (96) MONTO_TRANSFERENCIAS_CORRESPONSALES_MÓVILES        1391139 non-null  int64
 97  (97) NRO_TRANSACCIONES_TRÁMITES_CORRESPONSALES_MÓVILES  1391139 non-null  int64
 98  (98) MONTO_TRANSACCIONES_CORRESPONSALES_MÓVILES         1391139 non-null  float64
dtypes: float64(36), int64(58), object(5)
memory usage: 1.0+ GB

In [7]:
df.shape

(1391139, 99)

In [8]:
# Show only columns with missing values
missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]  # Filter out columns with 0 missing values

# Display the result
print(missing_values)

NOMBRE_ENTIDAD    33394
dtype: int64

WOW!! There is only one column with missing values. Thats totally unheard of haha.

# Translating the Column Names

I tried using the google translate API, DeepL API and others and they weren't able to totally translate. I'm going to translate every column one at a time. I just want to be accurate as possible. It will also give me the opportunity to get to know the data better.

In [4]:
column_names = df.columns.tolist()  # Convert Index to List
column_names

NameError: name 'df' is not defined

In [13]:
df.rename(columns={'TIPO_ENTIDAD': 'entity_type',
                   'CODIGO_ENTIDAD': 'entity_code',
                   'NOMBRE_ENTIDAD': 'entity_name',
                   'FECHA_CORTE': 'cutoff_date',
                   'UNICAP': 'unified_capital',
                   'DESCRIP_UC': 'region_description',
                   'RENGLON': 'category_code',
                   'DESC_RENGLON' : 'category_description', 
                   'TIPO': 'type',
                   '(1) NRO_CORRESPONSALES_FÍSICOS_PROPIOS': 'num_agents',
                   '(2) NRO_CORRESPONSALES_FÍSICOS_TERCERIZADOS': 'num_outsourced_agents',
                   '(3) NRO_CORRESPONSALES_FÍSICOS_ACTIVOS': 'num_agents_operational',
                   '(4) NRO_CORRESPONSALES_FÍSICOS': 'total_num_agents',
                   '(5) NRO_DEPÓSITOS_CORRESPONSALES_FÍSICOS': 'num_of_deposit_transaction_per_agent',
                   '(6) MONTO_DEPÓSITOS_CORRESPONSALES_FÍSICOS': 'total_deposit_amount_at_physical_agent', 
                   '(7) NRO_GIROS_ENVIADOS_CORRESPONSALES_FÍSICOS': 'num_of_money_transfers_with_agent',
                   '(8) MONTO_GIROS_ENVIADOS_CORRESPONSALES_FÍSICOS': 'total_monetary_value_of_money_transfers_with_agent',
                   '(9) NRO_GIROS_RECIBIDOS_CORRESPONSALES_FÍSICOS': 'num_of_money_transfers_received_with_agent',
                   '(10) MONTO_GIROS_RECIBIDOS_CORRESPONSALES_FÍSICOS': 'total_amount_of_money_transfers_received_with_agent',
                   '(11) NRO_PAGOS_CORRESPONSALES_FÍSICOS': 'num_of_payments_with_agent', 
                   '(12) MONTO_PAGOS_CORRESPONSALES_FÍSICOS': 'total_amount_of_payments_with_agent',
                   '(13) NRO_RETIROS_CORRESPONSALES_FÍSICOS': 'num_of_withdrawals_with_agent', 
                   '(14) MONTO_RETIROS_CORRESPONSALES_FÍSICOS': 'total_amount_of_withdrawals_with_agent', 
                   '(15) NRO_TRANSFERENCIAS_CORRESPONSALES_FÍSICOS': 'number_of_bank_transfers_with_agent', 
                   '(16) MONTO_TRANSFERENCIAS_CORRESPONSALES_FÍSICOS': 'total_bank_transfer_amount_with_agent', 
                   '(17) NRO_TRANSACCIONES_TRÁMITES_CORRESPONSALES_FÍSICOS': 'num_of_transactions_and_requests_with_agent', 
                   '(18) MONTO_TRANSACCIONES_CORRESPONSALES_FÍSICOS': 'total_monetary_value_of_transactions_with_agents', 
                   '(19) NRO_CTAS_AHORRO_HASTA_1SMMLV': 'num_of_savings_accounts_up_to_1_minimum_wage', 
                   '(20) SALDO_CTAS_AHORRO_HASTA_1SMMLV': 'balance_of_savings_accounts_up_to_1_minimum_wage',
                   '(21) NRO_CTAS_AHORRO>1SMMLV_HASTA _3SMMLV': 'number_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages', 
                   '(22) SALDO_CTAS_AHORRO>1SMMLV_HASTA _3SMMLV': 'balance_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages', 
                   '(23) NRO_CTAS_AHORR>3SMMLV_HASTA_ 5SMMLV': 'number_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages', 
                   '(24) SALDO_CTAS_AHORR>3SMMLV_HASTA_ 5SMMLV': 'balance_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages', 
                   '(25) NRO_CTAS_AHORRO_ACTIVAS': 'number_of_active_savings_accounts', 
                   '(26) SALDO_CTAS_AHORRO_ACTIVAS': 'balance_of_active_savings_accounts', 
                   '(27) NRO_CTAS_AHORRO_MUJERES': 'number_of_savings_accounts_women', 
                   '(28) SALDO_CTAS_AHORRO_MUJERES': 'total_balance_of_savings_accounts_women', 
                   '(29) NRO_CTAS_AHORRO_HOMBRES': 'number_of_savings_accounts_men', 
                   '(30) SALDO_CTAS_AHORRO_HOMBRES': 'total_balance_of_savings_accounts_men', 
                   '(31) NRO_CTAS_AHORRO': 'number_of_savings_accounts', 
                   '(32) SALDO_CTAS_AHORRO': 'balance_of_savings_accounts', 
                   '(41) NRO_CRÉDITO_CONSUMO_MUJERES': 'number_of_consumer_credit_accounts_women', 
                   '(42) MONTO_CRÉDITO_CONSUMO_MUJERES': 'total_consumer_credit_amount_women', 
                   '(43) NRO_CRÉDITO_CONSUMO_HOMBRES': 'number_of_consumer_credit_accounts_men', 
                   '(44) MONTO_CRÉDITO_CONSUMO_HOMBRES': 'total_consumer_credit_amount_men', 
                   '(45) NRO_CRÉDITO_CONSUMO': 'number_of_consumer_credit_accounts', 
                   '(46) MONTO_CRÉDITO_CONSUMO': 'total_consumer_credit_amount', 
                   '(47) NRO_CRED_CONS_BAJO_MONTO_MUJERES': 'number_of_small_consumer_loans_women', 
                   '(48) MONTO_CRED_CONS_BAJO_MONTO_MUJERES': 'total_small_consumer_loan_amount_women', 
                   '(49) NRO_CRED_CONS_BAJO_MONTO_HOMBRES': 'number_of_small_consumer_loans_men', 
                   '(50) MONTO_CRED_CONS_BAJO_MONTO_HOMBRES': 'total_small_consumer_loan_amount_men', 
                   '(51) NRO_CRED_CONS_BAJO_MONTO': 'number_of_small_consumer_loans', 
                   '(52) MONTO_CRED_CONS_BAJO_MONTO': 'total_small_consumer_loan_amount', 
                   '(53) NRO_CRÉDITO_VIVIENDA_MUJERES': 'number_of_housing_loans_women', 
                   '(54) MONTO_CRÉDITO_VIVIENDA_MUJERES': 'total_housing_loan_amount_women', 
                   '(55) NRO_CRÉDITO_VIVIENDA_HOMBRES': 'number_of_housing_loans_men', 
                   '(56) MONTO_CRÉDITO_VIVIENDA_HOMBRES': 'total_housing_loan_amount_men', 
                   '(57) NRO_CRÉDITO_VIVIENDA': 'number_of_housing_loans', 
                   '(58) MONTO_CRÉDITO_VIVIENDA': 'total_amount_of_mortgage_loans', 
                   '(59) NRO_MICROCRÉDITO_HASTA_ 1SMMLV': 'number_of_microloans_up_to_1_minimum_wage', 
                   '(60) MONTO_MICROCRÉDITO_HASTA_1SMMLV': 'total_amount_of_microloans_up_to_1_minimum_wage', 
                   '(61) NRO_MICROCRÉDITO_>1SMMLV_HASTA_ 2SMMLV': 'number_of_microloans_greater_than_1_minimum_wage_up_to_2_minimum_wages', 
                   '(62) MONTO_MICROCRÉDITO_>1SMMLV HASTA_ 2SMMLV': 'total_amount_of_microloans_greater_than_1_minimum_wage_up_to_2_minimum_wages', 
                   '(63) NRO_MICROCRÉDITO_>2SMMLV_HASTA_3SMMLV': 'number_of_microloans_greater_than_2_minimum_wages_up_to_3_minimum_wages', 
                   '(64) MONTO_MICROCRÉDITO_> 2SMMLV_HASTA_3SMMLV': 'total_amount_of_microloans_greater_than_2_minimum_wages_up_to_3_minimum_wages', 
                   '(65) NRO_MICROCRÉDITO_>3SMMLV_HASTA_ 4SMMLV': 'number_of_microloans_greater_than_3_minimum_wages_up_to_4_minimum_wages', 
                   '(66) MONTO_MICROCRÉDITO_>3SMMLV_HASTA_4SMMLV': 'total_amount_of_microloans_greater_than_3_minimum_wages_up_to_4_minimum_wages', 
                   '(67) NRO_MICROCRÉDITO_>4SMMLV_HASTA_10SMMLV': 'number_of_microloans_greater_than_4_minimum_wages_up_to_10_minimum_wages', 
                   '(68) MONTO_MICROCRÉDITO_> 4SMMLV_HASTA_10SMMLV': 'total_of_microloans_greater_than_4_minimum_wages_up_to_10_minimum_wages', 
                   '(69) NRO_MICROCRÉDITO_>10SMMLV_HASTA_25SMMLV': 'number_of_microloans_greater_than_10_minimum_wages_up_to_25_minimum_wages', 
                   '(70) MONTO_MICROCRÉDITO_>10SMMLV_HASTA_ 25SMMLV': 'total_amount_of_microloans_greater_than_10_minimum_wages_up_to_25_minimum_wages', 
                   '(71) NRO_MICROCRÉDITO_MUJERES': 'number_of_microcredits_women', 
                   '(72) MONTO_MICROCRÉDITO_MUJERES': 'total_microcredit_amount_women', 
                   '(73) NRO_MICROCRÉDITO_HOMBRES': 'number_of_microcredits_men', 
                   '(74) MONTO_MICROCRÉDITO_HOMBRES': 'total_microcredit_amount_men', 
                   '(75) NRO_MICROCRÉDITO': 'number_of_microloans', 
                   '(76) MONTO_MICROCRÉDITO': 'total_amount_of_microloans', 
                   '(77) NRO_PRODUCTOS_A_NIVEL_NACIONAL': 'number_of_national_level_products', 
                   '(78) MONTO_SALDO_PRODUCTOS_A_NIVEL_NACIONAL': 'total_balance_of_national_level_products', 
                   '(79) NRO_CORRESPONSALES_FÍSICOS_PROPIOS_ACTIVOS': 'number_of_active_own_physical_agents' , 
                   '(80) NRO_CORRESPONSALES_FÍSICOS_TERCERIZADOS_ACTIVOS': 'number_of_active_outsourced_physical_agents', 
                   '(81) NRO_CORRESPONSALES_PROPIOS_MÓVILES': 'number_of_own_mobile_agents', 
                   '(82) NRO_CORRESPONSALES_TERCERIZADOS_MÓVILES': 'number_of_outsourced_mobile_agents', 
                   '(83) NRO_CORRESPONSALES_MÓVILES_ACTIVOS': 'number_of_active_mobile_agents', 
                   '(84) NRO_CORRESPONSALES_MÓVILES': 'number_of_mobile_agents', 
                   '(85) NRO_DEPÓSITOS_CORRESPONSALES_MÓVILES': 'number_of_deposits_at_mobile_agents', 
                   '(86) MONTO_DEPÓSITOS_CORRESPONSALES_MÓVILES': 'total_deposit_amount_at_mobile_agents', 
                   '(87) NRO_GIROS_ENVIADOS_CORRESPONSALES_MÓVILES': 'number_of_money_transfers_sent_at_mobile_correspondents', 
                   '(88) MONTO_GIROS_ENVIADOS_CORRESPONSALES_MÓVILES': 'total_amount_of_money_transfers_sent_at_mobile_correspondents', 
                   '(89) NRO_GIROS_RECIBIDOS_CORRESPONSALES_MÓVILES': 'number_of_money_transfers_received_at_mobile_correspondents', 
                   '(90) MONTO_GIROS_RECIBIDOS_CORRESPONSALES_MÓVILES': 'total_amount_of_money_transfers_received_at_mobile_correspondents', 
                   '(91) NRO_PAGOS_CORRESPONSALES_MÓVILES': 'number_of_payments_at_mobile_agents', 
                   '(92) MONTO_PAGOS_CORRESPONSALES_MÓVILES': 'total_payment_amount_at_mobile_agents', 
                   '(93) NRO_RETIROS_CORRESPONSALES_MÓVILES': 'number_of_withdrawals_at_mobile_agents', 
                   '(94) MONTO_RETIROS_CORRESPONSALES_MÓVILES': 'total_withdrawal_amount_at_mobile_agents', 
                   '(95) NRO_TRANSFERENCIAS_CORRESPONSALES_MÓVILES': 'number_of_transfers_at_mobile_agents', 
                   '(96) MONTO_TRANSFERENCIAS_CORRESPONSALES_MÓVILES': 'total_transfer_amount_at_mobile_agents', 
                   '(97) NRO_TRANSACCIONES_TRÁMITES_CORRESPONSALES_MÓVILES': 'number_of_transactions_and_requests_at_mobile_agents', 
                   '(98) MONTO_TRANSACCIONES_CORRESPONSALES_MÓVILES': 'total_transaction_amount_at_mobile_agents'}, inplace=True)

In [14]:
df.columns

Index(['entity_type', 'entity_code', 'entity_name', 'cutoff_date',
       'unified_capital', 'region_description', 'category_code',
       'category_description', 'type', 'num_agents', 'num_outsourced_agents',
       'num_agents_operational', 'total_num_agents',
       'num_of_deposit_transaction_per_agent',
       'total_deposit_amount_at_physical_agent',
       'num_of_money_transfers_with_agent',
       'total_monetary_value_of_money_transfers_with_agent',
       'num_of_money_transfers_received_with_agent',
       'total_amount_of_money_transfers_received_with_agent',
       'num_of_payments_with_agent', 'total_amount_of_payments_with_agent',
       'num_of_withdrawals_with_agent',
       'total_amount_of_withdrawals_with_agent',
       'number_of_bank_transfers_with_agent',
       'total_bank_transfer_amount_with_agent',
       'num_of_transactions_and_requests_with_agent',
       'total_monetary_value_of_transactions_with_agents',
       'num_of_savings_accounts_up_to_1_minimum_wage',
       'balance_of_savings_accounts_up_to_1_minimum_wage',
       'number_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages',
       'balance_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages',
       'number_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages',
       'balance_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages',
       'number_of_active_savings_accounts',
       'balance_of_active_savings_accounts',
       'number_of_savings_accounts_women',
       'total_balance_of_savings_accounts_women',
       'number_of_savings_accounts_men',
       'total_balance_of_savings_accounts_men', 'number_of_savings_accounts',
       'balance_of_savings_accounts',
       'number_of_consumer_credit_accounts_women',
       'total_consumer_credit_amount_women',
       'number_of_consumer_credit_accounts_men',
       'total_consumer_credit_amount_men',
       'number_of_consumer_credit_accounts', 'total_consumer_credit_amount',
       'number_of_small_consumer_loans_women',
       'total_small_consumer_loan_amount_women',
       'number_of_small_consumer_loans_men',
       'total_small_consumer_loan_amount_men',
       'number_of_small_consumer_loans', 'total_small_consumer_loan_amount',
       'number_of_housing_loans_women', 'total_housing_loan_amount_women',
       'number_of_housing_loans_men', 'total_housing_loan_amount_men',
       'number_of_housing_loans', 'total_amount_of_mortgage_loans',
       'number_of_microloans_up_to_1_minimum_wage',
       'total_amount_of_microloans_up_to_1_minimum_wage',
       'number_of_microloans_greater_than_1_minimum_wage_up_to_2_minimum_wages',
       'total_amount_of_microloans_greater_than_1_minimum_wage_up_to_2_minimum_wages',
       'number_of_microloans_greater_than_2_minimum_wages_up_to_3_minimum_wages',
       'total_amount_of_microloans_greater_than_2_minimum_wages_up_to_3_minimum_wages',
       'number_of_microloans_greater_than_3_minimum_wages_up_to_4_minimum_wages',
       'total_amount_of_microloans_greater_than_3_minimum_wages_up_to_4_minimum_wages',
       'number_of_microloans_greater_than_4_minimum_wages_up_to_10_minimum_wages',
       'total_of_microloans_greater_than_4_minimum_wages_up_to_10_minimum_wages',
       'number_of_microloans_greater_than_10_minimum_wages_up_to_25_minimum_wages',
       'total_amount_of_microloans_greater_than_10_minimum_wages_up_to_25_minimum_wages',
       'number_of_microcredits_women', 'total_microcredit_amount_women',
       'number_of_microcredits_men', 'total_microcredit_amount_men',
       'number_of_microloans', 'total_amount_of_microloans',
       'number_of_national_level_products',
       'total_balance_of_national_level_products',
       'number_of_active_own_physical_agents',
       'number_of_active_outsourced_physical_agents',
       'number_of_own_mobile_agents', 'number_of_outsourced_mobile_agents',
       'number_of_active_mobile_agents', 'number_of_mobile_agents',
       'number_of_deposits_at_mobile_agents',
       'total_deposit_amount_at_mobile_agents',
       'number_of_money_transfers_sent_at_mobile_correspondents',
       'total_amount_of_money_transfers_sent_at_mobile_correspondents',
       'number_of_money_transfers_received_at_mobile_correspondents',
       'total_amount_of_money_transfers_received_at_mobile_correspondents',
       'number_of_payments_at_mobile_agents',
       'total_payment_amount_at_mobile_agents',
       'number_of_withdrawals_at_mobile_agents',
       'total_withdrawal_amount_at_mobile_agents',
       'number_of_transfers_at_mobile_agents',
       'total_transfer_amount_at_mobile_agents',
       'number_of_transactions_and_requests_at_mobile_agents',
       'total_transaction_amount_at_mobile_agents'],
      dtype='object')

# Missing Values

In [16]:
# Show only columns with missing values
missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]  # Filter out columns with 0 missing values

# Display the result
print(missing_values)

entity_name    33394
dtype: int64

In [17]:
df['entity_name'].value_counts(dropna=False)

entity_name
Confiar                                                  191219
Banagrario                                               106043
Tuya                                                      89326
Bancolombia                                               86834
Banco Davivienda                                          66512
Banco de Occidente                                        58503
Banco de Bogotá                                           58095
Scotiabank Colpatria S.A.                                 56876
Bancamia S.A.                                             55562
Banco W S.A.                                              55518
Cooperativa Financiera de Antioquia                       54964
BBVA Colombia                                             54330
Banco Falabella S.A.                                      40243
NaN                                                       33394
Movii S.A.                                                31449
Aval Soluciones Digitales S.A.                            28853
Bancar Tecnología C.F.                                    26934
Lulo Bank                                                 26505
Banco Santander                                           24749
Banco Caja Social S.A.                                    24353
Pgde                                                      23413
Itau                                                      19924
Tecnipagos                                                19090
Citibank                                                  18616
Banco Mundo Mujer S.A.                                    16880
Banco Pichincha S.A.                                      16211
AV Villas                                                 16030
Giros y Finanzas C.F.                                     14045
Banco Serfinanza S.A.                                     10390
Mibanco S.A.                                               9991
Banco Popular                                              9560
Crezcamos                                                  8227
Coofinep                                                   7224
Coink S.A.                                                 4190
Financiera Juriscoop C.F.                                  4175
Coltefinanciera                                            3993
Bancoomeva                                                 3755
Cotrafa                                                    2737
JFK Cooperativa Financiera                                 2656
Global66                                                   2589
Coopcentral                                                1670
Banco GNB Sudameris                                        1643
Credifinanciera S.A.                                       1095
Credifamilia                                                960
Finandina                                                   956
IRIS C.F.                                                   280
Corficolombiana S.A.                                        255
BNP Paribas                                                 112
La Hipotecaria                                               96
RCI Colombia S.A.                                            48
GM Financial Colombia S.A. Compañía De Financiamiento        48
Banco J.P: Morgan Colombia S.A.                              18
Name: count, dtype: int64

This column shows the bank names. So I need to figure out if other entries are left blank on purpose. Which I think they are considering that these are the ONLY missing values.

Let's look at the dataframe with just those missing values.

In [20]:
# Replace 'column_name' with the name of your column
missing_values_rows = df[df['entity_name'].isnull()]

# Display the rows with missing values in that column
missing_values_rows.head().T

,143725,144471,293194,294293,330595
entity_type,1,1,1,1,1
entity_code,67,67,67,67,68
entity_name,NaN,NaN,NaN,NaN,NaN
cutoff_date,31/12/2022,31/12/2022,31/12/2022,31/12/2022,30/09/2024
unified_capital,1,1,1,1,11
...,...,...,...,...,...
total_withdrawal_amount_at_mobile_agents,0.0,0.0,0.0,0.0,0.0
number_of_transfers_at_mobile_agents,0,0,0,0,0
total_transfer_amount_at_mobile_agents,0,0,0,0,0
number_of_transactions_and_requests_at_mobile_agents,0,0,0,0,0
total_transaction_amount_at_mobile_agents,0.0,0.0,0.0,0.0,0.0

I'll check the dataframe 10 columns at a time to see if I can see a pattern.

In [21]:
# Check by 10 rows at a time but transpose for readability
missing_values_rows.iloc[:, :10].T

,143725,144471,293194,294293,330595,330794,331168,332116,332230,332424,...,1391037,1391040,1391043,1391047,1391066,1391069,1391074,1391087,1391096,1391134
entity_type,1,1,1,1,1,1,1,1,1,4,...,1,4,1,1,4,1,1,4,1,4
entity_code,67,67,67,67,68,67,67,67,67,128,...,67,128,67,67,128,67,67,128,67,128
entity_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cutoff_date,31/12/2022,31/12/2022,31/12/2022,31/12/2022,30/09/2024,30/09/2024,30/09/2024,30/09/2024,30/09/2024,30/09/2024,...,31/12/2024,31/12/2024,31/12/2024,31/12/2024,31/12/2024,31/12/2024,31/12/2024,31/12/2024,31/12/2024,31/12/2024
unified_capital,1,1,1,1,11,6,11,24,24,15,...,21,1,17,21,11,1,23,5,10,17
region_description,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA,CUNDINAMARCA,CALDAS,CUNDINAMARCA,VALLE DEL CAUCA,VALLE DEL CAUCA,MAGDALENA,...,SANTANDER,ANTIOQUIA,NARIÑO,SANTANDER,CUNDINAMARCA,ANTIOQUIA,TOLIMA,BOYACA,CORDOBA,NARIÑO
category_code,858,129,579,761,386,442,297,400,113,605,...,276,390,480,502,745,154,352,757,672,378
category_description,VEGACHI,CALDAS,PUERTO BERRIO,SOPETRAN,LA MESA,MARMATO,GACHETA,LA UNION,BUGALAGRANDE,REMOLINO,...,FLORIDABLANCA,LA PINTADA,NARIÑO,ONZAGA,SIMIJACA,CAUCASIA,ICONONZO,SOCHA,SAN ANTERO,LA CRUZ
type,Corresponsales fisicos,Corresponsales fisicos,Corresponsales físicos,Corresponsales fisicos,Cuentas de Ahorro,Corresponsales físicos,Corresponsales fisicos,Corresponsales fisicos,Corresponsales fisicos,Cuentas de Ahorro,...,Transacciones y tramites a traves de correspon...,Corresponsales fisicos,Corresponsales fisicos,Corresponsales fisicos,Transacciones y tramites a traves de correspon...,Corresponsales fisicos,Corresponsales fisicos,Cuentas de Ahorro,Corresponsales fisicos,Corresponsales físicos
num_agents,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

I thought all of these would be isolated to a certain region or location. But that is not the case. They aren't location specific.

In [23]:
missing_values_rows.iloc[:, 10:20].T

,143725,144471,293194,294293,330595,330794,331168,332116,332230,332424,...,1391037,1391040,1391043,1391047,1391066,1391069,1391074,1391087,1391096,1391134
num_outsourced_agents,1.0,5.0,0.0,2.0,0.0,0.0,2.0,3.0,3.0,0.0,...,0.0,5.0,4.0,1.0,0.0,11.0,1.0,0.0,1.0,0.0
num_agents_operational,1.0,5.0,0.0,2.0,0.0,0.0,2.0,3.0,3.0,0.0,...,0.0,1.0,4.0,1.0,0.0,11.0,1.0,0.0,1.0,0.0
total_num_agents,1.0,5.0,0.0,2.0,0.0,0.0,2.0,3.0,3.0,0.0,...,0.0,5.0,4.0,1.0,0.0,11.0,1.0,0.0,1.0,0.0
num_of_deposit_transaction_per_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
total_deposit_amount_at_physical_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4806800.0,0.0,0.0,0.0,0.0,0.0
num_of_money_transfers_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,142.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
total_monetary_value_of_money_transfers_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,67732406.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_of_money_transfers_received_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
total_amount_of_money_transfers_received_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_of_payments_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5464.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [24]:
missing_values_rows.iloc[:, 19:30].T

,143725,144471,293194,294293,330595,330794,331168,332116,332230,332424,...,1391037,1391040,1391043,1391047,1391066,1391069,1391074,1391087,1391096,1391134
num_of_payments_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.464000e+03,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
total_amount_of_payments_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.474169e+09,0.0,0.0,0.0,57074.0,0.0,0.0,0.0,0.0,0.0
num_of_withdrawals_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
total_amount_of_withdrawals_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
number_of_bank_transfers_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
total_bank_transfer_amount_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_of_transactions_and_requests_with_agent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.606000e+03,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0
total_monetary_value_of_transactions_with_agents,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.541902e+09,0.0,0.0,0.0,4863874.0,0.0,0.0,0.0,0.0,0.0
num_of_savings_accounts_up_to_1_minimum_wage,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,1.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,68.0,0.0,0.0
balance_of_savings_accounts_up_to_1_minimum_wage,0.0,0.0,0.0,0.0,480312.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,3945500.5,0.0,0.0
number_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0

In [25]:
missing_values_rows.iloc[:, 29:40].T

,143725,144471,293194,294293,330595,330794,331168,332116,332230,332424,...,1391037,1391040,1391043,1391047,1391066,1391069,1391074,1391087,1391096,1391134
number_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.000000e+00,0.0,0.0
balance_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages,0.0,0.0,0.0,0.0,2002050.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.509417e+07,0.0,0.0
number_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000e+00,0.0,0.0
balance_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.596410e+04,0.0,0.0
number_of_active_savings_accounts,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.000000e+01,0.0,0.0
balance_of_active_savings_accounts,0.0,0.0,0.0,0.0,2482362.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.267738e+08,0.0,0.0
number_of_savings_accounts_women,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.900000e+01,0.0,0.0
total_balance_of_savings_accounts_women,0.0,0.0,0.0,0.0,300226.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.136451e+07,0.0,0.0
number_of_savings_accounts_men,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.300000e+01,0.0,0.0
total_balance_of_savings_accounts_men,0.0,0.0,0.0,0.0,2182136.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.054093e+08,0.0,0.0
number_of_savings_accounts,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.200000e+01,0.0,0.0

So, there are some values in the other columns. Although, its very sparse. 

Either, it's another entity name that isn't listed or available, or they just aren't filled in.

I'll try and fill the missing values using a groupby function.

In [27]:
# Create a Groupby to fill missing values
grouped_df = pd.DataFrame(df.groupby(['region_description', 
                                      'category_description',
                                      'unified_capital',
                                      'entity_code']).size())
grouped_df

                                                                                 0
region_description            category_description unified_capital entity_code
AGREGADORES DE CORRESPONSALES AGENCIA SU RED       36              2            16
                                                                   53           10
                              ASSENDA RED S.A      36              6            13
                                                                   13            4
                                                                   30           16
...                                                                             ..
VICHADA                       TOTAL VICHADA        33              60           15
                                                                   65           31
                                                                   67           30
                                                                   123          32
                                                                   128           6

[30114 rows x 1 columns]

In [28]:
# Fill NaN in 'entity_name' with the previous Groupbys MODE
df['entity_name'] = df.groupby(['region_description', 
                                'category_description',
                                'unified_capital',
                                'entity_code'])['entity_name'].transform(lambda x: x.fillna(x.mode().iloc[0]) if not x.mode().empty else x)

In [29]:
# Check if the fill by Groupby worked
df['entity_name'].value_counts(dropna=False)

entity_name
Confiar                                                  191219
Banagrario                                               106043
Tuya                                                      89326
Bancolombia                                               86834
Banco Davivienda                                          66512
Banco de Occidente                                        58503
Banco de Bogotá                                           58095
Scotiabank Colpatria S.A.                                 56876
Bancamia S.A.                                             55562
Banco W S.A.                                              55518
Cooperativa Financiera de Antioquia                       54964
BBVA Colombia                                             54330
Banco Falabella S.A.                                      40243
NaN                                                       33394
Movii S.A.                                                31449
Aval Soluciones Digitales S.A.                            28853
Bancar Tecnología C.F.                                    26934
Lulo Bank                                                 26505
Banco Santander                                           24749
Banco Caja Social S.A.                                    24353
Pgde                                                      23413
Itau                                                      19924
Tecnipagos                                                19090
Citibank                                                  18616
Banco Mundo Mujer S.A.                                    16880
Banco Pichincha S.A.                                      16211
AV Villas                                                 16030
Giros y Finanzas C.F.                                     14045
Banco Serfinanza S.A.                                     10390
Mibanco S.A.                                               9991
Banco Popular                                              9560
Crezcamos                                                  8227
Coofinep                                                   7224
Coink S.A.                                                 4190
Financiera Juriscoop C.F.                                  4175
Coltefinanciera                                            3993
Bancoomeva                                                 3755
Cotrafa                                                    2737
JFK Cooperativa Financiera                                 2656
Global66                                                   2589
Coopcentral                                                1670
Banco GNB Sudameris                                        1643
Credifinanciera S.A.                                       1095
Credifamilia                                                960
Finandina                                                   956
IRIS C.F.                                                   280
Corficolombiana S.A.                                        255
BNP Paribas                                                 112
La Hipotecaria                                               96
RCI Colombia S.A.                                            48
GM Financial Colombia S.A. Compañía De Financiamiento        48
Banco J.P: Morgan Colombia S.A.                              18
Name: count, dtype: int64

Ok, so the groupby didn't fill in any missing values so I know that the entity name is separate. Therefore, I will fill the NaN values with 'Other'.

In [31]:
# Fill the NaN values with 'Other'
df['entity_name'] = df['entity_name'].fillna('Other')

In [32]:
# Double check the dataframe for missing values
# Show only columns with missing values
missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]  # Filter out columns with 0 missing values

# Display the result
print(missing_values)

Series([], dtype: int64)

Great! No missing values!

In [34]:
# Let's see what kind of numerical values there are
df.describe().T

,count,mean,std,min,25%,50%,75%,max
entity_type,1391139.0,1.710681e+01,3.450920e+01,1.0,1.0,1.0,32.0,1.280000e+02
entity_code,1391139.0,2.917064e+01,2.788938e+01,1.0,5.0,26.0,49.0,1.280000e+02
unified_capital,1391139.0,1.296367e+01,8.513239e+00,1.0,5.0,11.0,21.0,4.200000e+01
category_code,1391139.0,4.501239e+02,3.000860e+02,1.0,190.0,430.0,686.0,9.990000e+02
num_agents,1391139.0,1.286939e+00,8.473395e+01,0.0,0.0,0.0,0.0,3.176500e+04
...,...,...,...,...,...,...,...,...
total_withdrawal_amount_at_mobile_agents,1391139.0,9.772728e+05,1.053542e+08,0.0,0.0,0.0,0.0,4.106507e+10
number_of_transfers_at_mobile_agents,1391139.0,2.617352e-02,6.237634e+00,0.0,0.0,0.0,0.0,3.130000e+03
total_transfer_amount_at_mobile_agents,1391139.0,3.244557e+04,8.763352e+06,0.0,0.0,0.0,0.0,4.154881e+09
number_of_transactions_and_requests_at_mobile_agents,1391139.0,1.191109e+01,1.369730e+03,0.0,0.0,0.0,0.0,7.033210e+05
total_transaction_amount_at_mobile_agents,1391139.0,2.382128e+06,2.630425e+08,0.0,0.0,0.0,0.0,1.132693e+11

I need to convert the scientific notation columns to integer values. It will be easier to manipulate and analyze.

In [60]:
# Convert all numerical columns (int and float) to integer
df[df.select_dtypes(include=['number']).columns] = df.select_dtypes(include=['number']).apply(lambda x: x.round().astype(int))

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1391139 entries, 0 to 1391138
Data columns (total 99 columns):
 #   Column                                                                           Non-Null Count    Dtype
---  ------                                                                           --------------    -----
 0   entity_type                                                                      1391139 non-null  int64
 1   entity_code                                                                      1391139 non-null  int64
 2   entity_name                                                                      1391139 non-null  object
 3   cutoff_date                                                                      1391139 non-null  object
 4   unified_capital                                                                  1391139 non-null  int64
 5   region_description                                                               1391139 non-null  object
 6   category_code                                                                    1391139 non-null  int64
 7   category_description                                                             1391139 non-null  object
 8   type                                                                             1391139 non-null  object
 9   num_agents                                                                       1391139 non-null  int64
 10  num_outsourced_agents                                                            1391139 non-null  int64
 11  num_agents_operational                                                           1391139 non-null  int64
 12  total_num_agents                                                                 1391139 non-null  int64
 13  num_of_deposit_transaction_per_agent                                             1391139 non-null  int64
 14  total_deposit_amount_at_physical_agent                                           1391139 non-null  int64
 15  num_of_money_transfers_with_agent                                                1391139 non-null  int64
 16  total_monetary_value_of_money_transfers_with_agent                               1391139 non-null  int64
 17  num_of_money_transfers_received_with_agent                                       1391139 non-null  int64
 18  total_amount_of_money_transfers_received_with_agent                              1391139 non-null  int64
 19  num_of_payments_with_agent                                                       1391139 non-null  int64
 20  total_amount_of_payments_with_agent                                              1391139 non-null  int64
 21  num_of_withdrawals_with_agent                                                    1391139 non-null  int64
 22  total_amount_of_withdrawals_with_agent                                           1391139 non-null  int64
 23  number_of_bank_transfers_with_agent                                              1391139 non-null  int64
 24  total_bank_transfer_amount_with_agent                                            1391139 non-null  int64
 25  num_of_transactions_and_requests_with_agent                                      1391139 non-null  int64
 26  total_monetary_value_of_transactions_with_agents                                 1391139 non-null  int64
 27  num_of_savings_accounts_up_to_1_minimum_wage                                     1391139 non-null  int64
 28  balance_of_savings_accounts_up_to_1_minimum_wage                                 1391139 non-null  int64
 29  number_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages     1391139 non-null  int64
 30  balance_of_savings_accounts_greater_than_1_minimum_wage_up_to_3_minimum_wages    1391139 non-null  int64
 31  number_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages    1391139 non-null  int64
 32  balance_of_savings_accounts_greater_than_3_minimum_wages_up_to_5_minimum_wages   1391139 non-null  int64
 33  number_of_active_savings_accounts                                                1391139 non-null  int64
 34  balance_of_active_savings_accounts                                               1391139 non-null  int64
 35  number_of_savings_accounts_women                                                 1391139 non-null  int64
 36  total_balance_of_savings_accounts_women                                          1391139 non-null  int64
 37  number_of_savings_accounts_men                                                   1391139 non-null  int64
 38  total_balance_of_savings_accounts_men                                            1391139 non-null  int64
 39  number_of_savings_accounts                                                       1391139 non-null  int64
 40  balance_of_savings_accounts                                                      1391139 non-null  int64
 41  number_of_consumer_credit_accounts_women                                         1391139 non-null  int64
 42  total_consumer_credit_amount_women                                               1391139 non-null  int64
 43  number_of_consumer_credit_accounts_men                                           1391139 non-null  int64
 44  total_consumer_credit_amount_men                                                 1391139 non-null  int64
 45  number_of_consumer_credit_accounts                                               1391139 non-null  int64
 46  total_consumer_credit_amount                                                     1391139 non-null  int64
 47  number_of_small_consumer_loans_women                                             1391139 non-null  int64
 48  total_small_consumer_loan_amount_women                                           1391139 non-null  int64
 49  number_of_small_consumer_loans_men                                               1391139 non-null  int64
 50  total_small_consumer_loan_amount_men                                             1391139 non-null  int64
 51  number_of_small_consumer_loans                                                   1391139 non-null  int64
 52  total_small_consumer_loan_amount                                                 1391139 non-null  int64
 53  number_of_housing_loans_women                                                    1391139 non-null  int64
 54  total_housing_loan_amount_women                                                  1391139 non-null  int64
 55  number_of_housing_loans_men                                                      1391139 non-null  int64
 56  total_housing_loan_amount_men                                                    1391139 non-null  int64
 57  number_of_housing_loans                                                          1391139 non-null  int64
 58  total_amount_of_mortgage_loans                                                   1391139 non-null  int64
 59  number_of_microloans_up_to_1_minimum_wage                                        1391139 non-null  int64
 60  total_amount_of_microloans_up_to_1_minimum_wage                                  1391139 non-null  int64
 61  number_of_microloans_greater_than_1_minimum_wage_up_to_2_minimum_wages           1391139 non-null  int64
 62  total_amount_of_microloans_greater_than_1_minimum_wage_up_to_2_minimum_wages     1391139 non-null  int64
 63  number_of_microloans_greater_than_2_minimum_wages_up_to_3_minimum_wages          1391139 non-null  int64
 64  total_amount_of_microloans_greater_than_2_minimum_wages_up_to_3_minimum_wages    1391139 non-null  int64
 65  number_of_microloans_greater_than_3_minimum_wages_up_to_4_minimum_wages          1391139 non-null  int64
 66  total_amount_of_microloans_greater_than_3_minimum_wages_up_to_4_minimum_wages    1391139 non-null  int64
 67  number_of_microloans_greater_than_4_minimum_wages_up_to_10_minimum_wages         1391139 non-null  int64
 68  total_of_microloans_greater_than_4_minimum_wages_up_to_10_minimum_wages          1391139 non-null  int64
 69  number_of_microloans_greater_than_10_minimum_wages_up_to_25_minimum_wages        1391139 non-null  int64
 70  total_amount_of_microloans_greater_than_10_minimum_wages_up_to_25_minimum_wages  1391139 non-null  int64
 71  number_of_microcredits_women                                                     1391139 non-null  int64
 72  total_microcredit_amount_women                                                   1391139 non-null  int64
 73  number_of_microcredits_men                                                       1391139 non-null  int64
 74  total_microcredit_amount_men                                                     1391139 non-null  int64
 75  number_of_microloans                                                             1391139 non-null  int64
 76  total_amount_of_microloans                                                       1391139 non-null  int64
 77  number_of_national_level_products                                                1391139 non-null  int64
 78  total_balance_of_national_level_products                                         1391139 non-null  int64
 79  number_of_active_own_physical_agents                                             1391139 non-null  int64
 80  number_of_active_outsourced_physical_agents                                      1391139 non-null  int64
 81  number_of_own_mobile_agents                                                      1391139 non-null  int64
 82  number_of_outsourced_mobile_agents                                               1391139 non-null  int64
 83  number_of_active_mobile_agents                                                   1391139 non-null  int64
 84  number_of_mobile_agents                                                          1391139 non-null  int64
 85  number_of_deposits_at_mobile_agents                                              1391139 non-null  int64
 86  total_deposit_amount_at_mobile_agents                                            1391139 non-null  int64
 87  number_of_money_transfers_sent_at_mobile_correspondents                          1391139 non-null  int64
 88  total_amount_of_money_transfers_sent_at_mobile_correspondents                    1391139 non-null  int64
 89  number_of_money_transfers_received_at_mobile_correspondents                      1391139 non-null  int64
 90  total_amount_of_money_transfers_received_at_mobile_correspondents                1391139 non-null  int64
 91  number_of_payments_at_mobile_agents                                              1391139 non-null  int64
 92  total_payment_amount_at_mobile_agents                                            1391139 non-null  int64
 93  number_of_withdrawals_at_mobile_agents                                           1391139 non-null  int64
 94  total_withdrawal_amount_at_mobile_agents                                         1391139 non-null  int64
 95  number_of_transfers_at_mobile_agents                                             1391139 non-null  int64
 96  total_transfer_amount_at_mobile_agents                                           1391139 non-null  int64
 97  number_of_transactions_and_requests_at_mobile_agents                             1391139 non-null  int64
 98  total_transaction_amount_at_mobile_agents                                        1391139 non-null  int64
dtypes: int64(94), object(5)
memory usage: 1.0+ GB

# Export to CSV

In [78]:
# Export the DataFrame to a CSV file
df.to_csv('colombia_financial_inclusion_dataset_translated_cleaned.csv', index=False)